version: 0.2

project:
  type: book

comments:
  hypothesis: true

book:
  title: "Calculus with Julia"
  date: now
  author: "John Verzani"
  search: true
  repo-url: https://github.com/jverzani/CalculusWithJuliaNotes.jl
  repo-actions: [edit]
  downloads: [pdf, epub]
  navbar:
    background: light
    search: true
    logo: logo.png
    pinned: true
  page-footer:
    left: "Copyright 2022, John Verzani"
    right:
      - icon: github
        href: https://github.com/
  chapters:
    - index.qmd
    - part: "Precalculus Concepts"
      chapters:
        - precalc/calculator.qmd
        - precalc/variables.qmd
        - precalc/numbers_types.qmd
        - precalc/logical_expressions.qmd
        - precalc/vectors.qmd
        - precalc/ranges.qmd
        - precalc/functions.qmd
        - precalc/plotting.qmd
        - precalc/transformations.qmd
        - precalc/inversefunctions.qmd
        - precalc/polynomial.qmd
        - precalc/polynomial_roots.qmd
        - precalc/polynomials_package.qmd
        - precalc/rational_functions.qmd
        - precalc/exp_log_functions.qmd
        - precalc/trig_functions.qmd
        - precalc/julia_overview.qmd
    - part: "Limits"
      chapters:
        - limits/limits.qmd
        - limits/limits_extensions.qmd
        - limits/continuity.qmd
        - limits/intermediate_value_theorem.qmd
    - part: "Derivatives"
      chapters:
        - derivatives/derivatives.qmd
        - derivatives/numeric_derivatives.qmd
        - derivatives/symbolic_derivatives.qmd
        - derivatives/mean_value_theorem.qmd
        - derivatives/optimization.qmd
        - derivatives/first_second_derivatives.qmd
        - derivatives/curve_sketching.qmd
        - derivatives/linearization.qmd
        - derivatives/newtons_method.qmd
        - derivatives/more_zeros.qmd
        - derivatives/lhospitals_rule.qmd
        - derivatives/implicit_differentiation.qmd
        - derivatives/related_rates.qmd
        - derivatives/taylor_series_polynomials.qmd
    - part: "Integrals"
      chapters:
        - integrals/area.qmd
        - integrals/ftc.qmd
        - integrals/substitution.qmd
        - integrals/integration_by_parts.qmd
        - integrals/partial_fractions.qmd
        - integrals/improper_integrals.qmd
        - integrals/mean_value_theorem.qmd
        - integrals/area_between_curves.qmd
        - integrals/center_of_mass.qmd
        - integrals/volumes_slice.qmd
        - integrals/arc_length.qmd
        - integrals/surface_area.qmd
    - part: "ODEs"
      chapters:
        - ODEs/odes.qmd
        - ODEs/euler.qmd
        - ODEs/solve.qmd
        - ODEs/differential_equations.qmd
    - part: "Differential vector calculus"
      chapters:
        - differentiable_vector_calculus/polar_coordinates.qmd
        - differentiable_vector_calculus/vectors.qmd
        - differentiable_vector_calculus/vector_valued_functions.qmd
        - differentiable_vector_calculus/scalar_functions.qmd
        - differentiable_vector_calculus/scalar_functions_applications.qmd
        - differentiable_vector_calculus/vector_fields.qmd
        - differentiable_vector_calculus/plots_plotting.qmd

    - part: "Integral vector calculus"
      chapters:
        - integral_vector_calculus/double_triple_integrals.qmd
        - integral_vector_calculus/line_integrals.qmd
        - integral_vector_calculus/div_grad_curl.qmd
        - integral_vector_calculus/stokes_theorem.qmd
        - integral_vector_calculus/review.qmd
    - part: "Alternatives"
      chapters:
        # - alternatives/symbolics.qmd
	# - alternatives/sciML.qmd
	# - alternatives/interval_arithmetic.qmd
        - alternatives/plotly_plotting.qmd
	# - alternatives/makie_plotting.qmd
    - part: "Appendices"
      chapters:
        - misc/getting_started_with_julia.qmd
        - misc/julia_interfaces.qmd
        - misc/calculus_with_julia.qmd
        - misc/unicode.qmd
        - misc/quick_notes.qmd
        # - misc/bibliography.qmd
    - references.qmd

bibliography: references.bib

website:
  favicon: logo.png

format:
  html:
    theme: lux # spacelab # lux # sketchy # cosmo # https://quarto.org/docs/output-formats/html-themes.html
    number-depth: 3
    toc-depth: 3
    link-external-newwindow: true
  pdf:
    documentclass: scrreprt

execute:
  error: true
  freeze: auto # false
  daemon: true
